<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" href="/styles/css/player-detail.css">
	</head>

	<body>
		<%- include('../partials/navbar.ejs') %>

			<main>
				<div class="container-fluid mt-4">
          <div class="row">
            <div class="col-8 container-fluid content">
              <form action="/players/add-player/" method="POST">
                <div class="player-property row">
                  <h3 class="col-4">Tên</h3>
                  <input type="text" class="col-7" name="name" />
                  <input type="checkbox" name="isCaptain" id="" class="col-1" value="true">
                </div>
                
                <div class="player-property row">
                  <h3 class="col-4">Câu lạc bộ</h3>
                  <input type="text" class="col-8"name="club"  />
                </div>
                <div class="player-property row">
                  <h3 class="col-4">Quốc tịch</h3>
                  <input type="text" class="col-8" name="nation" />
                </div>
                <div class="player-property row">
                  <h3 class="col-4">Vị trí</h3>
                  <input type="text" class="col-8" name="position" />
                </div>
                <div class="player-property row">
                  <h3 class="col-4">Số bàn thắng</h3>
                  <input type="text" class="col-8" name="goals" />
                </div>
                <div class="player-property row">
                  <h3 class="col-4">URL hình ảnh</h3>
                  <input type="text" class="col-8" name="imageUrl" />
                </div>
                <button class="btn btn-primary mt-4">Thêm</button>
              </form>
            </div>
          </div>
        </div>
			</main>
	</body>
</html>