<header class="main-header">
	<nav class="navbar">
		<div class="d-flex align-items-center">
			<a href="/" class="logo"
				>
				<h3 class="m-0">Tiqiu</h3></a
			>
			<ul class="left-nav">
				<a href="/nations" class="user-btn <%= path.includes('nations') ? 'active' : '' %>" >
					<li>
						Quốc gia
					</li>
				</a>
				
				<a href="/players" class="<%= path.includes('players') ? 'active' : '' %>">
					<li class="user-btn">
						Cầu thủ
					</li>
				</a>
			</ul>
		</div>


		<ul class="right-nav">
			<% if (!isAuthenticated) { %>
				<li class="log-in-btn-container">
						<a class="log-in-btn" href="/login">Đăng nhập</a>
				</li>
				<li class="sign-up-btn-container">
						<a class="sign-up-btn" href="/signup">Đăng kí</a>
				</li>
			<% } else { %>
				<li class="user-btn">
					<i class="bi bi-person"></i>
					<ul class="user-nav-menu">
						<li class="log-out-btn-container">
							<form action="/logout" method="post" class="w-100">
								<button class="log-out-btn btn w-100" type="submit">Đăng xuất</button>
							</form>
						</li>
					</ul>
				</li>
			<% } %>
		</ul>
	</nav>
</header>
