<header class="main-header">
	<nav class="navbar">
		<div class="d-flex align-items-center">
			<a href="/nations" class="logo"
				>
				<!-- <img src="/images/fan.png" alt="" /> -->
				<h3 class="m-0">FPT88</h3></a
			>
			<ul class="left-nav">
				<li class="user-btn">
					<a href="/nations">Quốc gia</a>
				</li>
				<li class="user-btn">
					<a href="/players">Cầu thủ</a>
				</li>
			</ul>
		</div>


		<!-- <ul class="right-nav">
			<li class="user-btn">
				<i class="bi bi-person"></i>
				<ul class="user-nav-menu">
					<li><a href="/nations/add-nation">Thêm quốc gia</a></li>
					<li><a href="/nations/manage-nations">管理</a></li>
				</ul>
			</li>
			<li>
				<a href="/cart"><i class="bi bi-cart"></i></a>
			</li>
		</ul> -->
	</nav>
</header>
