<div class="col-4 p-0 pe-3">
  <div class="nation-list-column">
    <!-- <a href="/nations/add-nation" class="btn btn-outline-primary mb-3">+ Thêm quốc gia</a> -->
    <a href="/nations/add-nation" class="nation-item p-3 d-block add-nation-btn">
      + Thêm quốc gia
    </a>
    <div class="nation-list">
      <% if (nations.length> 0) { %>
        <% nations.forEach(nation=> { %>
          <a href="/nations/<%= nation.id %>" class="nation-item p-3 d-block <%= path.includes(nation.id) ? 'active' : ''%>">
            <div>
              <h3 class="m-0">
                <%= nation.name %>
              </h3>
              <p class="description m-0">
                <%= nation.description %>
              </p>
            </div>
          </a>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>