<div class="col-4">
  <a href="/nations/add-nation" class="btn btn-outline-primary mb-3">+ Thêm</a>
  <div class="nation-list">
    <% if (nations.length> 0) { %>
      <% nations.forEach(nation=> { %>
        <a href="/nations/<%= nation.id %>" class="nation-item mb-2 d-block">
          <div>
            <h3 class="m-0">
              <%= nation.name %>
            </h3>
            <p class="description m-0">
              <%= nation.description %>
            </p>
          </div>
        </a>
      <% }) %>
    <% } %>
  </div>
</div>