<div class="player-list">
  <% if (players.length> 0) { %>
    <% players.forEach(player => { %>
      <div class="player-item p-3">
        <div class="image-container">
          <a href="/players/<%= player.id %>">
            <img src="<%= player.imageUrl %>" alt="">
          </a>
        </div>
        <div class="content pt-3">
          <div class="">
            <h3 class="m-0 mb-1"><%= player.name %></h3>
            <p class="m-0"><%= player.club %></p>
          </div>
        </div>
      </div>
    <% }) %>
  <% } %>
</div>