<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/css/nations.css">
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %> 
    <main>
      <div class="container-fluid mt-4">
        <div class="row">
          <%- include('../partials/nations/nation-list.ejs') %>
          <div class="col-8">
            <div>
              <form action="/nations/add-nation" method="POST" class="w-75 d-flex align-items-center flex-column">
                <input type="text" id="name" name="name" class="form-control mb-2" placeholder="Tên">
          
                <input type="text" id="description" name="description" class="form-control mb-2" placeholder="Mô tả">
          
                <button type="submit" class="btn btn-sm btn-primary w-25 mt-3">Thêm</button>
              </form>
    
              <!-- Player list -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>