<%- include('../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %> 
    <main>
      <div class="d-flex align-items-center flex-column mt-4">
        <h3 class="mb-3">Thêm quốc gia</h3>
    
        <form action="/nations/add-nation" method="POST" class="w-75 d-flex align-items-center flex-column">
          <input type="text" id="name" name="name" class="form-control mb-2" placeholder="Tên">
    
          <input type="text" id="description" name="description" class="form-control mb-2" placeholder="Mô tả">
    
          <button type="submit" class="btn btn-sm btn-primary w-25 mt-3">
            <%= 'Thêm' %>
          </button>
        </form>
    
      </div>
    </main>
  </body>
</html>