<%- include('../partials/head.ejs') %>
		<link rel="stylesheet" href="/styles/css/nations.css">
	</head>

	<body>
		<%- include('../partials/navbar.ejs') %>

			<main>
				<div class="container-fluid mt-4">
					<div class="row">
						<%- include('../partials/nations/nation-list.ejs') %>
					</div>
				</div>
			</main>
	</body>
</html>